body {
  margin: 0;
}

@font-face {
  font-family: "nasalization";
  src: url("./assets/nasalization.otf")
}

@font-face {
  font-family: "navine";
  src: url("./assets/NavineDemo-SemiCondensed.ttf")
}